/00QuickStart/data
/00QuickStart/model.pth
/02Data/data
/03Transforms/data
/06Optimization/data
/HW1-Regression/.idea
/HW1-Regression/ml2023spring-hw1
/HW1-Regression/models
/HW1-Regression/runs
/HW1-Regression/pred.csv
/HW2-Classification/.idea
/HW2-Classification/libriphone
/HW2-Classification/model.ckpt
/HW2-Classification/prediction.csv
/HW3-ImageClassification/.idea
/HW3-ImageClassification/food-11
/HW3-ImageClassification/food-11.zip
/HW4-Self-attention/.idea
/HW4-Self-attention/Dataset
/HW4-Self-attention/Dataset.tar
/HW4-Self-attention/Dataset.tar.gz